$primary: #FF4A00;
$primary-hover: #DA3E00;
$primary-lighter: #FEF3EB;
$secondary: #002d2b;

$text-highlight: #0A0D14;
$text-default: #525866;
$text-highlight-off: $text-default;
$text-default-off: #868C98;
$text-light: #868C98;

$disabled: #CDD0D5;
$error: #DF1C41;
$error-off: #AD1833;
$verified: #35B9E9;
$border: #E2E4E9;

$highlight-bg: #F6F8FA;
$bg: #FFFFFF;
$sidebar-transition: all 0.2s ease-in-out;
$sidebar-width-transition: all 0.2s linear;
$sidebar-width: 272px;
$mini-sidebar-width: 80px;

$button-radius: 10px;

@import "./emoji"