$primary: #FF4A00;
$primary-hover: #DA3E00;
$primary-lighter: #FEF3EB;
$secondary: #002d2b;

$text-highlight: #0A0D14;
$text-default: #525866;
$text-highlight-off: $text-default;
$text-default-off: #868C98;
$text-light: #868C98;

$disabled: #CDD0D5;
$error: #DF1C41;
$success: #14AB86;
$error-off: #AD1833;
$verified: #35B9E9;
$border: #E2E4E9;

$highlight-bg: #F6F8FA;
$bg: #FFFFFF;
$sidebar-transition: all 0.2s ease-in-out;
$sidebar-width-transition: all 0.2s linear;
$emoji-fade-in: fadeIn 0.3s ease-in-out forwards 0.3s;
$sidebar-width: 272px;
$mini-sidebar-width: 80px;

$default-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
$mini-shadow: 0px 2px 4px rgba(27, 28, 29, 0.04);

$button-radius: 10px;

// Default breakpoints: https://www.npmjs.com/package/nuxt-viewport
$desktop: 1000px; // Default = 1024px
$desktopMedium: 1280px;
$desktopWide: 1600px;

$mobile: 320px;
$mobileMedium: 375px;
$mobileWide: 425px;

$tablet: 768px;

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@mixin title($size: 14px, $weight: 500, $line-height: 20px, $spacing: -0.084px) {
    font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off;
    color: $text-highlight;
    font-weight: $weight;
    font-size: $size;
    margin: unset;
    line-height: $line-height;
    letter-spacing: $spacing;
}
@mixin emoji {
    animation: $emoji-fade-in;
    opacity: 0;
}
:global(.title) {
    @include title;
}
@mixin subtitle($size: 12px, $weight: 400, $line-height: 16px, $spacing: -0.084px) {
    font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off;
    color: $text-highlight;
    font-weight: $weight;
    font-size: $size;
    margin: unset;
    line-height: $line-height;
    letter-spacing: $spacing;
}
:global(.subtitle) {
    @include subtitle;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@import "./emoji"